<div class="container">
  <div class="row justify-content-md-center mt-4">
    <div class="col-6">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Delivery Head</label>
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Please select licence</option>
            <option value="1">Licence 1</option>
            <option value="2">Licence 2</option>
            <option value="3">Licence 3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <p-table [value]="products" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{product.code}}</td>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.quantity}}</td>
          </tr>
      </ng-template>
  </p-table>
  </div>
  
</div>
<router-outlet></router-outlet>
